*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

img {
  max-width: 100%;
}

input {
  font-family: inherit;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

fieldset {
  border: none;
}

.content {
  display: flex;
  align-items: end;
  max-width: 1140px;
  gap: 30px;
  width: 100%;
}

.content__list {
  max-height: 298px;
  overflow: auto;
  position: relative;
}

.content__details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
}

.content__video-card-thumbnail {
  max-width: 194px;
}

.content__video-card-description-container {
  flex: 1 1 auto;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__card-link {
  text-decoration: none;
  color: inherit;
}

.content__video-card-title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.content__video-card-description {
  line-height: 90%;
}

.title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.result {
  flex: 0 0 711px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  position: relative;
}

.result__video {
  width: 100%;
  object-fit: cover;
  display: block;
  max-height: 386px;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-form__fieldset:first-child {
  flex: 0 1 225px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form__pseudo-checkbox::after {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
  visibility: visible;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
}

.search-form__textfield {
  border: none;
  background-color: transparent;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 2.5px 0;
  appearance: none;
  width: 100%;
  font-size: 18px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield::placeholder {
  opacity: 0.7;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__submit-button {
  align-self: flex-end;
  flex: 0 1 194px;
}

.button {
  border: 1px solid #fff;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #fff;
  background-color: transparent;
  padding: 6px 15px;
  max-height: 34px;
  cursor: pointer;
}

.more-button {
  width: 100%;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}
